$header-z-index: 100;
$header-height: 64px;
$header-logo-size: 40px;

$sidenav-z-index: 99;
$sidenav-height: 72px;
$sidenav-width: 72px;
$sidenav-padding: 4px;

$content-padding: 0 24px;

$drawer-width: 208px;

$footer-height: 100px;
