.lf-dialog-content {
    padding: 0 24px 16px 24px !important;
    
    ::ng-deep {
        pre {
            max-height: 400px;
            margin: 0 !important;
            overflow-x: hidden;

            @media screen and (max-width: 800px) {
                overflow-x: auto;
            }
        }
    }
}

.lf-dialog-actions {
    padding: 0 24px 16px 24px !important;
}