.drawer-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  .active {
    .mat-icon, span {
      font-weight: 500;
      color: var(--color-primary) !important;
    }
  }

  .hint {
    font-size: 12px;
  }
}
