.drawer-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  .active {
    .mat-icon,
    span {
      font-weight: 500;
      color: var(--color-primary) !important;
    }
  }

  .mat-icon {
    overflow: unset;
  }

  .title-small {
    font-size: 14px;
    line-height: 14px;
    padding-top: 2px;
  }

  .hint {
    font-size: 12px;
    margin-bottom: 0;
  }
}