<!-- container -->
<lf-container
  [containerConfig]="containerConfig"
  [headerConfig]="headerConfig"
  [sidenavConfig]="sidenavConfig"
  [drawerConfig]="drawerConfig"
  [footerConfig]="footerConfig"
  [toTopButtonConfig]="toTopButtonConfig"
  (headerClickEvent)="headerClickEvent($event)"
  (headerSubmitEvent)="headerSubmitEvent($event)"
  (headerInputEvent)="headerInputEvent($event)"
  (sidenavClickEvent)="sidenavClickEvent($event)">
  <!-- drawer content -->
  <ng-container drawerContent></ng-container>
  <!-- main content -->
  <router-outlet></router-outlet>
</lf-container>
