<lf-scaffold
  (headerClickEvent)="headerClickEvent($event)"
  (headerSubmitEvent)="headerSubmitEvent($event)"
  (headerInputEvent)="headerInputEvent($event)"
  (navbarClickEvent)="navbarClickEvent($event)">
  <ng-container drawerContent>
    <mat-nav-list>
      <div mat-subheader>Example content</div>
      <mat-list-item>
        <a matListItemTitle>Item 1</a>
        <mat-icon matListItemIcon class="material-icons-outlined">info</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <a matListItemTitle>Item 2</a>
        <mat-icon matListItemIcon class="material-icons-outlined">info</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <a matListItemTitle>Item 3</a>
        <mat-icon matListItemIcon class="material-icons-outlined">info</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </ng-container>
  <router-outlet></router-outlet>
</lf-scaffold>
