$blue: #2196f3;
$pink: #e91e63;

.lf-startpage {
  max-width: 1080px;
  margin: auto;

  a[href],
  .link {
    cursor: pointer;
    color: var(--color-primary);
    text-decoration: unset;

    &:hover {
      text-decoration: underline;
    }
  }

  mat-divider {
    margin: 64px 0;
  }

  .theme-selector {
    display: flex;
    gap: 24px;
  }

  .theme-button {
    width: 48px;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    cursor: pointer;

    &.light {
      background-color: #fdfdfd;
    }

    &.dark {
      background-color: #1e1e1e;
    }

    &:hover {
      transform: scale(1.1);
    }

    .preview {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      .header {
        width: 100%;
        height: 8px;
      }

      .body {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .accent {
        width: 16px;
        height: 8px;
        border-radius: 4px;
      }

      .pink {
        background-color: $pink;
      }

      .blue {
        background-color: $blue;
      }
    }
  }

  mat-form-field {
    margin: 0 8px 8px 0;

    ::ng-deep {
      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  .lf-form-field-small {
    ::ng-deep {
      .mat-mdc-form-field-infix {
        width: 112px !important;
      }
    }
  }

  .lf-link {
    text-decoration: unset;
    color: var(--color-primary);

    &:hover {
      text-decoration: underline;
    }
  }

  .flex-row {
    display: flex !important;
    flex-flow: row wrap;
    align-items: center;
  }
}