<div class="lf-startpage">
  <h1>Demo</h1>
  <p>This is a simple demo application that lets you play around with the scaffold elements.</p>
  <mat-divider></mat-divider>

  <h2>Themes</h2>
  <p>
    You can define multiple themes and switch through them by setting the corresponding css class.
  </p>
  <button mat-flat-button color="accent" (click)="setTheme('')">Theme 1</button>
  <button mat-flat-button color="accent" (click)="setTheme('theme2')">Theme 2</button>
  <button mat-flat-button color="accent" (click)="setTheme('theme3')">Theme 3</button>
  <button mat-flat-button color="accent" (click)="setTheme('theme4')">Theme 4</button>
  <mat-divider></mat-divider>

  <h2>Scaffold</h2>
  <p>
    The scaffold is the global wrapper element that controls all ui elements based on its config.
  </p>
  <p>
    <button mat-flat-button color="accent" (click)="showContainerLoading()">
      Loading (3 seconds)
    </button>
  </p>
  <p>
    <mat-slide-toggle [(ngModel)]="scaffoldConfig.scrollPositionRestoration">
      Restore scroll position after navigation
    </mat-slide-toggle>
  </p>
  <mat-divider></mat-divider>

  <h2>Header</h2>
  <p>
    The header is a responsive mat-toolbar with a customizable logo, title, subtitle, menu-buttons
    and an input field.
  </p>
  <p>
    <mat-slide-toggle [(ngModel)]="headerConfig.enable">Enable</mat-slide-toggle>
  </p>
  <p>
    <mat-slide-toggle [(ngModel)]="headerConfig.loading">Loading</mat-slide-toggle>
  </p>
  <p>
    <mat-slide-toggle [(ngModel)]="headerConfig.showRouteLoading">
      Show navigation loading
    </mat-slide-toggle>
  </p>
  <mat-form-field>
    <mat-label>Image Logo (url)</mat-label>
    <input
      matInput
      [(ngModel)]="headerConfig.imgLogo"
      (ngModelChange)="headerImgLogoChange($event)" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Titel</mat-label>
    <input matInput [(ngModel)]="headerConfig.title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Subtitel</mat-label>
    <input matInput [(ngModel)]="headerConfig.subtitle" />
  </mat-form-field>

  <!-- <h3>Header Menu Buttons</h3>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Edit Buttons</mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <h4>Left Button (Icon only)</h4>
      <ng-container
        [ngTemplateOutlet]="menuButtonFormTemplate"
        [ngTemplateOutletContext]="{
          menuButton: headerConfig.leftMenuButton!,
          isLeftButton: true
        }"></ng-container>

      <h4>Right Buttons (Label has prio)</h4>
      <ng-container *ngFor="let menuButton of headerConfig.rightMenuButtons">
        <ng-container
          [ngTemplateOutlet]="menuButtonFormTemplate"
          [ngTemplateOutletContext]="{
            menuButton: menuButton
          }"></ng-container>
      </ng-container>
      <button mat-flat-button color="accent" (click)="addHeaderButton(false)">
        Add right menu button
      </button>
    </ng-template>
  </mat-expansion-panel> -->

  <h3>Header Input Field</h3>
  <p>
    <mat-slide-toggle [(ngModel)]="headerConfig.inputConfig!.enable">Enable</mat-slide-toggle>
  </p>
  <mat-form-field>
    <mat-label>Input Label</mat-label>
    <input matInput [(ngModel)]="headerConfig.inputConfig!.label" />
  </mat-form-field>
  <mat-divider></mat-divider>

  <h2>Title Card</h2>
  <p>
    The title card is a mat-card below the header that can display the current page title and a back
    button.
  </p>
  <p>
    <mat-slide-toggle [(ngModel)]="contentTitleCardConfig.enable">Enable</mat-slide-toggle>
  </p>
  <p>
    <mat-slide-toggle [(ngModel)]="contentTitleCardConfig.showBackButton">
      Show back button
    </mat-slide-toggle>
  </p>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="contentTitleCardConfig.label" />
  </mat-form-field>
  <mat-divider></mat-divider>

  <h2>Navbar</h2>
  <p>
    The navbar is a fixed navigation element that is positioned vertically left on desktop and moves
    horizontally to the bottom on mobile.
  </p>
  <p>
    <mat-slide-toggle [(ngModel)]="navbarConfig.enable">Enable</mat-slide-toggle>
  </p>
  <p>
    <mat-slide-toggle [(ngModel)]="navbarConfig.showAllLabels">Show all labels</mat-slide-toggle>
  </p>
  <mat-divider></mat-divider>

  <h2>Drawer</h2>
  <p>
    The drawer is an empty mat-sidenav that let's you place custom html templates as its content.
  </p>
  <p>
    <mat-slide-toggle [(ngModel)]="drawerConfig.enable">Enable</mat-slide-toggle>
  </p>
  <p>
    <mat-slide-toggle [(ngModel)]="drawerConfig.open">Open</mat-slide-toggle>
  </p>
  <p>
    <mat-slide-toggle [(ngModel)]="drawerConfig.fixed">Fixed</mat-slide-toggle>
  </p>
  <mat-divider></mat-divider>

  <h2>Footer</h2>
  <p>The footer is a bottom element with a logo, navigation links and the copyright.</p>
  <p>
    <mat-slide-toggle [(ngModel)]="footerConfig.enable">Enable</mat-slide-toggle>
  </p>
  <mat-form-field>
    <mat-label>Image Logo (url)</mat-label>
    <input
      matInput
      [(ngModel)]="footerConfig.imgLogo"
      (ngModelChange)="footerImgLogoChange($event)" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Copyright</mat-label>
    <input matInput [(ngModel)]="footerConfig.copyright" />
  </mat-form-field>
  <mat-divider></mat-divider>

  <h2>Floating Button</h2>
  <p>
    The floating button is an action button to scroll back to the top of the application or to call
    custom methods.
  </p>
  <p>
    <mat-slide-toggle [(ngModel)]="floatingButtonConfig.enable">Enable</mat-slide-toggle>
  </p>
  <mat-form-field>
    <mat-label>Event id</mat-label>
    <input matInput [(ngModel)]="floatingButtonConfig.id" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Material Icon</mat-label>
    <input matInput [(ngModel)]="floatingButtonConfig.matIcon" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tooltip</mat-label>
    <input matInput [(ngModel)]="floatingButtonConfig.tooltip" />
  </mat-form-field>
  <p><br /></p>
</div>

<!-- header menu button form -->
<ng-template #menuButtonFormTemplate let-menuButton="menuButton" let-isLeftButton="isLeftButton">
  <div *ngIf="menuButton" class="mb-2">
    <mat-form-field>
      <mat-label>Event id</mat-label>
      <input matInput [(ngModel)]="menuButton.id" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Label</mat-label>
      <input [disabled]="isLeftButton" matInput [(ngModel)]="menuButton.label" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Material Icon</mat-label>
      <input matInput [(ngModel)]="menuButton.matIcon" />
      <mat-icon *ngIf="menuButton.matIcon" matPrefix>{{ menuButton.matIcon }}</mat-icon>
      <mat-slide-toggle *ngIf="menuButton.matIcon" matSuffix [(ngModel)]="menuButton.outlineIcon">
        Outlined &#160;&#160;
      </mat-slide-toggle>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tooltop</mat-label>
      <input matInput [(ngModel)]="menuButton.tooltip" />
    </mat-form-field>
    <button
      mat-icon-button
      color="warn"
      (click)="removeHeaderButton(menuButton, isLeftButton)"
      matTooltip="Remove button">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-template>
