.lf-components {
  max-width: 1080px;
  margin: auto;

  a[href] {
    color: var(--color-primary);
    text-decoration: unset;

    &:hover {
      text-decoration: underline;
    }
  }

  mat-divider {
    margin: 64px 0;
  }

  ::ng-deep {
    .warn {
      color: var(--color-warn);
    }
  }

  .placeholder-wrapper {
    max-width: 272px;
  }
}