<div class="lf-components">
  <h1>Standalone Components</h1>
  <p>
    In addition to the scaffold components provided by default by the the
    <code>ScaffoldComponent</code>
    there are several standalone components that can be utilized.
  </p>
  <mat-divider></mat-divider>

  <h2>List</h2>
  <a [routerLink]="['/documentation']" fragment="list">View Documentation</a>
  <p>
    A standalone Material Design inspired list and table hybrid component for displaying structured
    collections of items. It supports avatars, titles, subtitles, actions, selections and dragging —
    making it ideal for dashboards, inventories, and administrative views.
  </p>
  <lf-list
    [config]="listConfig()"
    [header]="listHeader()"
    [items]="listItems()"
    [buttons]="listButtons()"
    (sortChangeEvent)="onListSortChange($event)"
    (selectionChangeEvent)="onListSelectionChange()"
    (buttonClickEvent)="onListButtonClick($event)"
    (itemClickEvent)="onListItemClick($event)"></lf-list>
  <mat-divider></mat-divider>

  <h2>File-Upload</h2>
  <a [routerLink]="['/documentation']" fragment="file-upload">View Documentation</a>
  <p>
    A standalone Material Design styled button for selecting and uploading files. It wraps a hidden
    native file input and exposes a simple, customizable interface with built-in icon, tooltip, and
    state management.
    <br />
    <br />
  </p>
  <lf-file-upload
    color="accent"
    label="Upload File"
    matIcon="upload"
    accept="*"
    (fileChangeEvent)="onFileChange($event)"></lf-file-upload>
  <p>
    File:
    <b>{{ fileName() }}</b>
  </p>

  <mat-divider></mat-divider>

  <h2>Color-Picker</h2>
  <a [routerLink]="['/documentation']" fragment="color-picker">View Documentation</a>
  <p>
    A standalone Material Design styled button for picking colors (uses native design on Safari). It
    wraps a hidden native color input and exposes a simple, customizable interface with built-in
    icon, tooltip, and state management.
    <br />
    <br />
  </p>
  <lf-color-picker
    [color]="'accent'"
    label="Pick Color"
    matIcon="color_lens"
    (colorChangeEvent)="onColorChange($event)"></lf-color-picker>
  <p>
    Color:
    <b>{{ color() }}</b>
  </p>

  <mat-divider></mat-divider>

  <h2>Placeholder</h2>
  <a [routerLink]="['/documentation']" fragment="placeholder">View Documentation</a>
  <p>
    A standalone UI component designed to display an informative placeholder or empty state when no
    data is available. It provides a structured layout for an icon, heading, message, and optional
    action — helping guide users toward the next step.
    <br />
  </p>
  <div class="flex-row gap-8">
    <div class="placeholder-wrapper">
      <lf-placeholder
        [placeholderConfig]="placeholderConfigMatIcon"
        (buttonClickEvent)="onPlaceholderButtonClick()"></lf-placeholder>
    </div>
    <div class="placeholder-wrapper">
      <lf-placeholder
        [placeholderConfig]="placeholderConfigSvgIcon"
        (buttonClickEvent)="onPlaceholderButtonClick()"></lf-placeholder>
    </div>
    <div class="placeholder-wrapper">
      <lf-placeholder
        [placeholderConfig]="placeholderConfigImgIcon"
        (buttonClickEvent)="onPlaceholderButtonClick()"></lf-placeholder>
    </div>
  </div>

  <mat-divider></mat-divider>

  <h2>Notification</h2>
  <a [routerLink]="['/documentation']" fragment="notification">View Documentation</a>
  <p>
    A standalone standalone Material Design inspired notification component for displaying transient
    messages to users. It supports different severity levels (primary, accent, warn), optional
    icons, optional actions, and links.
    <br />
    <br />
  </p>
  <lf-notification
    [static]="true"
    color="accent"
    message="This is an info notification with action."
    matIcon="info"
    action="Action"
    (clickEvent)="onNotificationClick()"></lf-notification>
  <lf-notification
    [static]="true"
    color="warn"
    message="This is an error notification with action and link."
    linkText="Documentation"
    link="/#/documentation#notification"
    matIcon="warning_amber"
    action="Action"
    (clickEvent)="onNotificationClick()"></lf-notification>

  <p><br /></p>
</div>
