.lf-documentation {
  max-width: 1080px;
  margin: auto;

  ::ng-deep {
    a[href] {
      color: var(--color-primary);
      text-decoration: unset;

      &:hover {
        text-decoration: underline;
      }
    }

    h2 {
      margin: 48px 0 8px 0;
    }

    h3 {
      margin: 48px 0 8px 0;
    }

    p,
    li {
      code {
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        background-color: #dbdbdb89;
        border-radius: 4px;
        padding: 1px 3px;
        white-space: nowrap;
      }
    }
  }
}