@use '@angular/material' as mat;
@include mat.core();

// Default theme
$lf-default-theme: (
  primary: mat.define-palette(mat.$blue-palette),
  accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette),
  dark: false
);

// Set custom theme
@mixin import_theme($theme: $lf-default-theme) {

  $theme: map-merge($lf-default-theme, $theme);

  @if(map-get($theme, 'dark') == false) {
    $mat-theme: mat.define-light-theme((
      color: (
        primary: map-get($theme, 'primary'),
        accent: map-get($theme, 'accent'),
        warn: map-get($theme, 'warn'),
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

    @include mat.all-component-themes($mat-theme);
  } @else {
    $mat-theme: mat.define-dark-theme((
      color: (
        primary: map-get($theme, 'primary'),
        accent: map-get($theme, 'accent'),
        warn: map-get($theme, 'warn'),
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

    @include mat.all-component-themes($mat-theme);
  }

  :root {
    --color-primary: #{mat.get-color-from-palette(map-get($theme, 'primary'), 500)};
    --color-accent: #{mat.get-color-from-palette(map-get($theme, 'accent'), 500)};
    --color-warn: #{mat.get-color-from-palette(map-get($theme, 'warn'), 500)};
  }
}
