$transition: 0.3s;

$loading-overlay-z-index: 101;

$header-z-index: 100;
$header-height: 64px;
$header-logo-title-wrapper-max-width: 208px;
$header-logo-size: 48px;
$header-input-max-width: 480px;

$navbar-z-index: 99;
$navbar-height: 72px;
$navbar-width: 72px;
$navbar-padding: 4px;
$navbar-item-label-font-size: 12px;

$content-padding: 24px;
$content-padding-mobile: 16px;

$drawer-width: 208px;
$drawer-z-index: 98;

$footer-height: 100px;
$footer-logo-size: 96px;

$content-title-card-z-index: 98;
$content-title-card-height: 80px;

$to-top-button-z-index: 100;
