$transition: 0.3s;

$loading-overlay-z-index: 101;

$header-z-index: 100;
$header-height: 64px;
$header-padding: 16px;
$header-padding-mobile: 8px;
$header-logo-title-wrapper-max-width: 192px;
$header-logo-size: 48px;
$header-input-max-width: 480px;

$sidenav-z-index: 99;
$sidenav-height: 72px;
$sidenav-width: 72px;
$sidenav-padding: 4px;
$sidenav-item-label-font-size: 12px;

$content-padding: 0 24px;
$content-padding-mobile: 0 16px;

$drawer-width: 208px;

$footer-height: 100px;
$footer-logo-size: 96px;

$to-top-button-z-index: 100;
