@import './_theme.scss';
@import './_classes';
@import './fonts/material-icons.scss';
@import './fonts/roboto-font.scss';

// Global Styling
html {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;

  // Overwrite this for custom typography
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

// Scrollbar
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: #909090;
  }

  &:active {
    background-color: #808080;
  }
}

// Overlays
.lf-input-dialog {
  position: absolute !important;
  top: 0 !important;
  max-width: 100vw !important;
  padding: 4px;

  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: unset !important;
    box-shadow: unset !important;
  }
}
