@use "@lukfel/scaffold/styles" as lf;
@use '@angular/material' as mat;

$base-theme: (
  primary: mat.define-palette(mat.$pink-palette),
  accent: mat.define-palette(mat.$blue-palette),
  warn: mat.define-palette(mat.$red-palette),
  dark: false,
  font-family: 'Roboto'
);

$theme2: (
  primary: mat.define-palette(mat.$pink-palette),
  accent: mat.define-palette(mat.$blue-palette),
  dark: true
);

$theme3: (
  primary: mat.define-palette(mat.$purple-palette),
  accent: mat.define-palette(mat.$amber-palette),
  dark: false
);

$theme4: (
  primary: mat.define-palette(mat.$purple-palette),
  accent: mat.define-palette(mat.$amber-palette),
  dark: true
);

// Main theme
@include lf.scaffold-theme($base-theme);

// Additional themes
@include lf.scaffold-colors($theme2, 'theme2');
@include lf.scaffold-colors($theme3, 'theme3');
@include lf.scaffold-colors($theme4, 'theme4');
