@use "@lukfel/ng-scaffold/styles" as lf;
@use '@angular/material' as mat;

$base-theme: (
  primary: mat.m2-define-palette(mat.$m2-pink-palette),
  accent: mat.m2-define-palette(mat.$m2-blue-palette),
  warn: mat.m2-define-palette(mat.$m2-red-palette),
  dark: false,
  font-family: 'Roboto'
);

$theme2: (
  primary: mat.m2-define-palette(mat.$m2-pink-palette),
  accent: mat.m2-define-palette(mat.$m2-blue-palette),
  dark: true
);

$theme3: (
  primary: mat.m2-define-palette(mat.$m2-blue-palette),
  accent: mat.m2-define-palette(mat.$m2-pink-palette),
  dark: false
);

$theme4: (
  primary: mat.m2-define-palette(mat.$m2-blue-palette),
  accent: mat.m2-define-palette(mat.$m2-pink-palette),
  dark: true
);

// Main theme
@include lf.scaffold-theme($base-theme);

// Additional themes
@include lf.scaffold-colors($theme2, 'theme2');
@include lf.scaffold-colors($theme3, 'theme3');
@include lf.scaffold-colors($theme4, 'theme4');

// Additional classes
.lf-cat-blue:not(.disabled) {
  color: #607d8b !important;
}

.lf-waw-cyan:not(.disabled) {
  color: #00838f !important;
}

.lf-ugly-orange:not(.disabled) {
  color: #ff5722 !important;
}

.lf-wowen-black:not(.disabled) {
  color: #000 !important;
}