@use "@lukfel/scaffold/styles" as lf;
@use '@angular/material' as mat;

$theme: (
  primary: mat.define-palette(mat.$pink-palette),
  accent: mat.define-palette(mat.$blue-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette),
  dark: false
);

@include lf.import_theme($theme);
