$sizes: 20;
$density: 4px;
$init: 0;

@mixin margin-classes {
  @for $i from $init through $sizes {
     $margin: $i * $density;
    /* margin #{$margin} */
    .m-#{$i}  {margin: $margin !important;}
    .ml-#{$i} {margin-left: $margin !important;}
    .mr-#{$i} {margin-right: $margin !important}
    .mt-#{$i} {margin-top: $margin !important;}
    .mb-#{$i} {margin-bottom: $margin !important;}
    .mx-#{$i} {margin-left: $margin !important; margin-right: $margin !important;}
    .my-#{$i} {margin-top: $margin !important; margin-bottom: $margin !important;}
  }
}
@include margin-classes;


@mixin padding-classes {
  @for $i from $init through $sizes {
    $padding: $i * $density;
    /* padding #{$padding} */
    .p-#{$i} {padding: $padding !important;}
    .pl-#{$i} {padding-left: $padding !important;}
    .pr-#{$i} {padding-right: $padding !important;}
    .pt-#{$i} {padding-top: $padding !important;}
    .pb-#{$i} {padding-bottom: $padding !important;}
    .px-#{$i} {padding-left: $padding !important; padding-right: $padding !important;}
    .py-#{$i} {padding-top: $padding !important; padding-bottom: $padding !important;}
  }
}
@include padding-classes;

.lf-transitions {
  transition: var(--transition) !important;
}

.lf-gradient {
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-accent) 100%) !important;
}

.lf-gradient-reverse {
  background: linear-gradient(90deg, var(--color-accent) 0%, var(--color-primary) 100%) !important;
}